@import './variables';
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&display=swap");

body {
  font-family: Cabin;
  color: $D;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $A;
  margin: auto;
  margin-bottom: 0.1em;
  // need to do a media query -- this would be for large screen
  width: 500px;
  border-radius: 0.3em;
  padding: 0.3em;
}

.loginContainer >* {
  padding-top: 1%;
}

.loginContainer input {
  padding: 0.8em;
  width: 60%;
  border-radius: 0.3em;
  border: 1px solid $D;
}

// .loginContainer input :hover {
//   padding: 0.5em;
//   width: 60%;
//   border-radius: 0.3em;
//   border: 1px solid $D;
// }

.primaryButton {
  background-color: $E;
  padding: 0.8em;
  border-radius: 0.3em;
  border: 1px solid $D;
  width: 40%;
  color: $D;
  font-size: .9em;
  font-weight: bold;
}

.secondaryButton {
  background-color: white;
  padding: 0.8em;
  border-radius: 0.3em;
  border: 1px solid $D;
  width: 40%;
  color: $D;
  font-size: .9em;

}

